header {
	background-image: url(../img/header_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.header {
	&__menu {
		border-bottom: 1px solid rgba(211, 211, 211, 0.38);
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 0px;
	}
	&__logo {}
	&__soc {
		display: flex;
		i {
			transition: all 0.4s;
			color: #fff;
			margin: 0px 0px 0px 31px;
			cursor: pointer;
			&:hover {
				color: #11749e;
			}
		}
	}
}
.menu {
	margin: 0px 0px 0px 200px;
	&__list {
		display: flex;
		li {
		}
	}
	&__link {
		transition: all 0.3s;
		padding: 0px 25px 38px 25px;
		color: #ffffff;
		font-family:"Cabin";
		font-size: 17px;
		font-weight: 400;
		&:hover {
			border-bottom: 6px solid #11749e;
		}
	}
}
.nav {
	&__menu2 {
		display: none;
	}
	&__list {
		display: in-flex;
		>li {
			list-style: none;
			margin: 45px 0px 0px 0px;
			}
		}
	&__link {
		color: #fff;
		font-family: Montserrat;
		font-size: 20px;
		font-weight: 500;
		line-height: 30px;
		text-transform: uppercase;
		transition: all 0.4s;
		&:hover {
			color: #ffac55;
		}
	}
}
.creat {
	min-height: 100vh;
	&_h {
		color: #f5f5f5;
		font-family: Gotham;
		font-size: 100px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&_p {
		color: #11749e;
		font-family: 'Cabin', sans-serif;
		font-size: 21px;
		font-weight: 500;
		line-height: 30.19px;
		text-transform: uppercase;
		letter-spacing: 13px;
	}
	&__content {
		padding: 200px 0px 75px 0px;
		text-align: center;
	}
	&__down {
		padding: 100px 0px 23px 0px;
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 13px;
		font-weight: 400;
		line-height: 22px;
	}
	&__arrow {
		cursor: pointer;
		margin: 0 auto;
		width: 65px;
		height: 65px;
		border-radius: 100%;
		border: 1px solid #f5f5f5;
		i {
			font-size: 18px;
			padding: 23px;
			color: #f5f5f5;
		}
	}
}
.we {
	min-height: 100vh;
	background-color: #11749e;
	&__top {
		text-align: center;
		padding: 172px 0px 0px 0px;
		position: relative;
		color: #ffffff;
		font-family: Gotham;
		font-size: 38px;
		font-weight: 500;
		line-height: 45.06px;
		text-transform: uppercase;
	}
	&__opacity {
		display: block;
		top: 25%;
		left: 39%;
		position: absolute;
		opacity: 0.18;
		color: #ffffff;
		font-family: "Roboto - Bold Condensed";
		font-size: 247px;
		font-weight: 400;
		line-height: 210.64px;
		text-transform: uppercase;
	}
	&__row {
		padding: 68px 0px 128px 0px;
		justify-content: space-evenly;
		display: flex;
		text-align: center;
		flex-wrap: wrap;
	}
	&__content {
		margin: 20px 0px 0px 0px;
		max-width: 258px;
		display: 1 1 auto;
	}
	&__circle {
		margin: 0 auto;
		padding: 50px;
		width: 133px;
		height: 133px;
		background-color: #2e85aa;
		border-radius: 100%;
		cursor: pointer;
		&:hover {
			background-color: #87CEEB;
			transition: all 0.4s;
		}
	}
	&__h {
		margin: 13px 0px 23px 0px;
		color: #ffffff;
		font-family: Gotham;
		font-size: 18px;
		font-weight: 500;
		line-height: 36px;
		text-transform: uppercase;
	}
	&__p {
		color: #ffffff;
		font-family: "Gotham - Book";
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
	}
}
.container {
}
.top {
	&__text {}
	&__opacity {}
}
